import React from 'react';
import { Text, View } from 'react-native';

import i18n from '@i18n';

const {{properCase name}} = () => {
  return (
    <View testID="{{dashCase name}}-component">
      <Text>{i18n.t('{{camelCase name}}', '[{{properCase name}}]')}</Text>
    </View>
  );
};

export default {{properCase name}};
