import { render } from '@testing-library/react-native';
import React from 'react';

import {{properCase name}} from '@components/{{dashCase name}}';

describe('<{{properCase name}} />', () => {
  it('renders correctly', () => {
    const view = render(<{{properCase name}} />);
    const { getByTestId } = view;
    expect(getByTestId('{{dashCase name}}-component')).toBeTruthy();
  });
});
