import { render } from '@testing-library/react-native';
import React from 'react';

import {{properCase name}} from '@styled-components/{{dashCase name}}';

describe('<{{properCase name}} />', () => {
  it('renders correctly', () => {
    const styledComponent = render(<{{properCase name}} />);
    expect(styledComponent).toMatchSnapshot();
  });
});
