import { View } from 'react-native';
import styled from 'styled-components/native';


const {{properCase name}} = styled.View`
  border-color: red;
  border-width: 1px;
`;

export default {{properCase name}};
