import React from 'react';

import {{properCase name}} from '@containers/{{dashCase name}}';
import { renderWithNavigator } from '@utils/test/renderWithNavigator';

describe('<{{properCase name}} />', () => {
  it('renders correctly', () => {
    const view = renderWithNavigator({ component: <{{properCase name}} /> });
    const { getByTestId } = view;
    expect(getByTestId('{{dashCase name}}-container')).toBeTruthy();
  });
});
