import { createReducer } from '@reduxjs/toolkit';

import { defaultAction } from './actions';
import { ContainerState } from './types';

const initialState: ContainerState = {
  status: '',
};

export const {{camelCase name}}Reducer = createReducer(initialState, (builder) => {
  return builder.addCase(defaultAction, (state) => state);
});
