import { createSelector } from 'reselect';

import { ApplicationState } from '@state';

export const {{camelCase name}}Selector = (state: ApplicationState) => state.{{camelCase name}};
export const statusSelector = createSelector(
  {{camelCase name}}Selector,
  ({{camelCase name}}) => {{camelCase name}}.status
);
